/* utatane_index.css */

.link_name {
  font-weight: bold;
}
.link_name a:visited{color: #9400d3 !important;}
.link_name a:link{color: #9932cc !important;}
.link_name a:hover {
  color: #994E62 !important; 
  text-decoration: none;
}
.link_name a:active { color: #994E62 !important;}

.link_name:visited{color: #9400d3 !important;}
.link_name:link{color: #9932cc !important;}
.link_name:hover {
  color: #994E62 !important; 
  text-decoration: none;
}
.link_name:active { color: #994E62 !important;}



h1 {font-weight: normal;}

h2 {font-family: Times, serif;}

.youtube_top_image img{
  width:15em;
  overflow: scroll;
}

.youtube_chat{
  overflow: auto;
}

#youtube_schedule_table th{
  background: #F6C143;
}
#youtube_schedule_table tr:nth-child(odd) td {
	background: #FBE8CE;
}
#youtube_schedule_table td{
  background: #FBE8CE;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

.td-css-top{
  /*border: 2px solid green; */
  padding-top: 20px;
  border-right-style:none; 
  border-left-style:none; 
  border-bottom-style:none;
}
.td-css-left{
  width: 6em; 
}
.td-css-right{
  width: calc(100vw - 6em);
}
.td-css-bottom{
  /*border: 2px solid green;*/ 
  padding-bottom: 20px;
  border-right-style:none; 
  border-left-style:none; 
  border-top-style:none;
  height: 50%;
}

.index_nav {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.map_img {
  position: relative;
}
.map_img img {
  width: 90%;
}

.map_icon_ad {
  width: 15%;
  position: absolute;
  top: 25%;
  left: 60%;
}
.map_icon_color {
  width: 15%;
  position: absolute;
  top: 25%;
  left: 10%;
}
.map_icon_discussion {
  width: 15%;
  position: absolute;
  top: 40%;
  left: 35%;
}
.map_icon_news {
  width: 15%;
  position: absolute;
  top: 55%;
  left: 60%;
}
.map_icon_picture {
  width: 15%;
  position: absolute;
  top: 5%;
  left: 35%;
}
.map_icon_factory {
  width: 15%;
  position: absolute;
  top: 75%;
  left: 35%;
}

.index_section {
  background-position: center center;
  background-size: cover;
}

/*.concept_list {
  text-align: left;
  margin: auto;
}*/

.link_name {font-weight: bold;}

/*#top {background-image: url(../pictures/20_mayfes.jpg);}*/

/*#about {background-image: url(../pictures/back03.jpg);}*/


/*#preface {background-image: url(../pictures/earth.png);}*/

#concept {background-image: url(../pictures/back02.jpg);}
#news {background-image: url(../pictures/back02.jpg);}
/*#theme {background-image: url(../pictures/back02.jpg);}*/
#contact {
  background-color: #F3FFF6;
  background-image: url(../pictures/contact.jpg);
}

#contact td {height: 1em;}

#header_index_scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.grid img{
  width: 6em;
  height: 6em;
  min-width: 125px;
  min-height: 125px;
}
.grid{
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.grid p{
  font-size:0.9em;
}
.grid h3{
  padding-top:10px;
  font-size:1.25em;
}

.works_grid img{
  width: 12em;
  height: 12em;
  min-width: 200px;
  min-height: 200px;
}
.header_img img{
  width:8em;
  height:8em;
  min-width: 50px;
  min-height: 50px;
}

.works_grid{
  padding-top: 10px;
  padding-bottom: 10px;
}

/* width */
/* 544, 768, 992, 1200 */

@media screen and (min-width:0px){
  h1 {font-size: 2.5em;}
  .section_title_top {padding-top: 5%;}
  .section_contents_top {
    padding-top: 0;
    padding-bottom: 5%;
  }
  .section_subtitle_top {padding-top: 0;}
  .section_contents_contact_sp {padding-top: 5%;}
  .section_title_top img {height: 50px;}
  .section_subtitle_top img {height: 40px;}
  .top_icon_sp img {
    width: 120px;
    height: 120px;
  }
  .section_contentss_movie {padding-top: 10%;}
  .concept_list_sp {
    text-align: left;
    width: 300px;
  }
  #contact iframe {width: 95%;}
}

@media screen and (min-width:350px){
  .section_title_top img {height: 60px;}
  .section_subtitle_top img {height: 45px;}
}

@media screen and (max-width:543px){

}

@media screen and (min-width:544px){
  .section_title_top {padding-top: 5%;}
  .section_subtitle_top {padding-top: 0;}
  .section_title_top img {height: 80px;}
  .section_subtitle_top img {height: 60px;}
  .concept_list_sp {width: 350px;}
  .section_contents_contact_sp {padding-top: 0;}
  #contact iframe {width: 100%;}
  #menulist_index {display: none;}
}

@media screen and (max-width:767px){
  .top_icon {display: none;}
  .concept_list {display: none;}
  .section_contents_contact {display: none;}
}

@media (max-width:767px){
  .table_pc {display:none;}

  .youtube_top{
    position: relative;
    width: 100%;
    padding-top: 55%;
  }

  .youtube_top iframe{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .youtube_schedule{
    height: 20em;
    overflow: auto;
  }

  .youtube{
    position: relative;
    width: 90%;
    padding-top: 50%;
  }
  .youtube iframe{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width:768px){
  .table_sp {display:none;}

  .youtube_top{
    position: relative;
    width: 100%;
    padding-top: 38%;
  }
  .youtube_top iframe{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .youtube_schedule{
    height: 20em;
    overflow: auto;
  }
  .youtube{
    position: relative;
    width: 80%;
    padding-top: 45%;
  }
  .youtube iframe{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width:768px){

  .index_nav {word-spacing: 0.5em;}
  .section_title_top {padding-top: 2%;}

  .section_title_top img {
    position: relative;
    top: 10px;
  }
  .section_contents_top {
    padding-top: 0;
    padding-bottom: 2%;
  }
  .section_subtitle_top {padding-top: 3%;}
  .section_title_top img {height: 120px;}
  .section_subtitle_top img {height: 80px;}
  .top_icon img {
    width: 160px;
    height: 160px;
  }
  .top_icon_sp {display: none;}
  .concept_list {width: 680px;}
  .concept_list_sp {display: none;}
  .section_contents_contact {padding-top: 5%;}
  .section_contents_contact_sp {display: none;}
  #contact iframe {width: 100%;}
}

@media screen and (min-width:992px){
  /*h1 {font-size: 3em;}*/
  .index_nav {word-spacing: 1em;}
  #contact iframe {width: 80%;}
}

@media screen and (min-width:1200px){
  #contact iframe {width: 80%;}
}

/* height */
@media screen and (min-width:0px){
  section {
    position: relative;
    /*height: 520px;*/
  }
  .section_works_top{
    height: 110%;
    min-height: 500px;
  }
  /*works以外のコンテンツはブラウザ幅に収める*/
  .section_usual{
    /*min-height: 500px;*/
    height: 110%;
    /*height: calc(100vh - 80px);*/
  }
  #contact iframe {height: 240px;}
}

@media screen and (min-width:1080px){
  section {
    position: relative;
  }
  .section_works_top{
    height: 110%;
  }
  .section_usual{
    height: calc(100vh - 80px);
  }
  #contact iframe {height: calc(100vh - 360px);}
}
